<?xml version="1.0"?>
<configuration>

  
<configSections>
</configSections>
<connectionStrings>
    <add name="SystemAccounting.Properties.Settings.SystemAccountingCon"
        connectionString="Data Source=SQL5009.Smarterasp.net;Initial Catalog=DB_9B0A2E_Safwa;Persist Security Info=True;User ID=DB_9B0A2E_Safwa_admin;Password=123asd!@#;Pooling=False" />
    <add name="SystemAccounting.Properties.Settings.DB_9B0A2E_SafwaConnectionString"
        connectionString="Data Source=SQL5009.Smarterasp.net;Initial Catalog=DB_9B0A2E_Safwa;Persist Security Info=True;User ID=DB_9B0A2E_Safwa_admin;Password=123asd!@#"
        providerName="System.Data.SqlClient" />
</connectionStrings>
<startup ><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
